@import "compass/css3";
$w: 100vw;
$h: 100vh;

* {
	margin: 0px;
	padding: 0px;
	list-style: none;

	@include box-sizing(border-box);
}

.gallery{
	width: 100vw;
	height: 100vh;

	div{
		display:block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border:3px solid white;
		text-align: center;
		text-decoration: none;
		font-size: 36px;
		color:#ccc;

		background: url("../Y.jpg");
		background-size: auto 100%;
	}

	@media (min-width: 768px) and (max-width:992px){
		
		.pic{
			position: relative;
			width: 10% ;
			height: 0;
			padding-top: 10%;
			float: left;
			/*will-change: all;*/
		}
		.pic:nth-child(24n+4),
		.pic:nth-child(24n+8){
			width: 19.9%;
			padding-top: 19.9%;
		}
		.pic:nth-child(24n+9),
		.pic:nth-child(24n+11),
		.pic:nth-child(24n+13),
		.pic:nth-child(24n+17),
		.pic:nth-child(24n+19),
		.pic:nth-child(24n+21){
			margin-top: -10%;
		}
	}
	@media (min-width: 992px) and (max-width:1200px){
		
		.pic{
			position: relative;
			width: 10%;
			height: 0;
			padding-top: 10%;
			float: left;
			/*will-change: auto;*/
		}
		.pic:nth-child(24n+1),
		.pic:nth-child(24n+6){
			width: 19.9%;
			padding-top: 19.9%;
		}
		.pic:nth-child(24n+13),
		.pic:nth-child(24n+15),
		.pic:nth-child(24n+17),
		.pic:nth-child(24n+19){
			margin-top: -10%;
		}
	}
	@media (min-width: 1200px){
		
		.pic{
			position: relative;
			width: 10%;
			height: 0;
			padding-top: 10%;
			float: left;
			/*will-change: all;*/
		}
		.pic:nth-child(21n+3),
		.pic:nth-child(21n+7),
		.pic:nth-child(21n+18){
			width: 19.9%;
			padding-top: 19.9%;
		}
		.pic:nth-child(21n+10),
		.pic:nth-child(21n+12),
		.pic:nth-child(21n+16),
		.pic:nth-child(21n+18){
			margin-top: -10%;
		}
	}
	@media (max-width: 767px){
		.pic{
			position: relative;
			width: 25%;
			height: 0;
			padding-top: 25%;
			float: left;
		}
		.pic:nth-child(12n+5){
			width: 75%;
			padding-top: 75%;
		}
		.pic:nth-child(12n+9){
			width: 75%;
			padding-top: 75%;
			float: right;
		}
	}

}