/* line 5, ../sass/style.scss */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/style.scss */
body {
  background: #141414;
}

/* line 16, ../sass/style.scss */
.gallery {
  width: 100vw;
  height: 100vh;
}
/* line 20, ../sass/style.scss */
.gallery div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 10px solid #141414;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  color: #ccc;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
/* line 36, ../sass/style.scss */
.gallery div:hover {
  border-width: 0px;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+1) {
  background-image: url("../rwby (1).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+2) {
  background-image: url("../rwby (2).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+3) {
  background-image: url("../rwby (3).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+4) {
  background-image: url("../rwby (4).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+5) {
  background-image: url("../rwby (5).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+6) {
  background-image: url("../rwby (6).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+7) {
  background-image: url("../rwby (7).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+8) {
  background-image: url("../rwby (8).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+9) {
  background-image: url("../rwby (9).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+10) {
  background-image: url("../rwby (10).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+11) {
  background-image: url("../rwby (11).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+12) {
  background-image: url("../rwby (12).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+13) {
  background-image: url("../rwby (13).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+14) {
  background-image: url("../rwby (14).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+15) {
  background-image: url("../rwby (15).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+16) {
  background-image: url("../rwby (16).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+17) {
  background-image: url("../rwby (17).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+18) {
  background-image: url("../rwby (18).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+19) {
  background-image: url("../rwby (19).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+20) {
  background-image: url("../rwby (20).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+21) {
  background-image: url("../rwby (21).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+22) {
  background-image: url("../rwby (22).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+23) {
  background-image: url("../rwby (23).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+24) {
  background-image: url("../rwby (24).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+25) {
  background-image: url("../rwby (25).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+26) {
  background-image: url("../rwby (26).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+27) {
  background-image: url("../rwby (27).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+28) {
  background-image: url("../rwby (28).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+29) {
  background-image: url("../rwby (29).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+30) {
  background-image: url("../rwby (30).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+31) {
  background-image: url("../rwby (31).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+32) {
  background-image: url("../rwby (32).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+33) {
  background-image: url("../rwby (33).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+34) {
  background-image: url("../rwby (34).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+35) {
  background-image: url("../rwby (35).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+36) {
  background-image: url("../rwby (36).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+37) {
  background-image: url("../rwby (37).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+38) {
  background-image: url("../rwby (38).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+39) {
  background-image: url("../rwby (39).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+40) {
  background-image: url("../rwby (40).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+41) {
  background-image: url("../rwby (41).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+42) {
  background-image: url("../rwby (42).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+43) {
  background-image: url("../rwby (43).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+44) {
  background-image: url("../rwby (44).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+45) {
  background-image: url("../rwby (45).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+46) {
  background-image: url("../rwby (46).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+47) {
  background-image: url("../rwby (47).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
/* line 41, ../sass/style.scss */
.gallery .pic:nth-child(48n+48) {
  background-image: url("../rwby (48).jpg");
  /* background-size: auto 100%; */
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 50, ../sass/style.scss */
  .gallery .pic {
    position: relative;
    width: 10%;
    height: 0;
    padding-top: 10%;
    float: left;
    /*will-change: all;*/
  }
  /* line 57, ../sass/style.scss */
  .gallery .pic:nth-child(24n+4), .gallery .pic:nth-child(24n+8) {
    width: 19.9%;
    padding-top: 19.9%;
  }
  /* line 61, ../sass/style.scss */
  .gallery .pic:nth-child(24n+9), .gallery .pic:nth-child(24n+11), .gallery .pic:nth-child(24n+13), .gallery .pic:nth-child(24n+17), .gallery .pic:nth-child(24n+19), .gallery .pic:nth-child(24n+21) {
    margin-top: -10%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 66, ../sass/style.scss */
  .gallery .pic {
    position: relative;
    width: 10%;
    height: 0;
    padding-top: 10%;
    float: left;
    /*will-change: auto;*/
  }
  /* line 73, ../sass/style.scss */
  .gallery .pic:nth-child(24n+1), .gallery .pic:nth-child(24n+6) {
    width: 19.9%;
    padding-top: 19.9%;
  }
  /* line 77, ../sass/style.scss */
  .gallery .pic:nth-child(24n+13), .gallery .pic:nth-child(24n+15), .gallery .pic:nth-child(24n+17), .gallery .pic:nth-child(24n+19) {
    margin-top: -10%;
  }
}
@media (min-width: 1200px) {
  /* line 82, ../sass/style.scss */
  .gallery .pic {
    position: relative;
    width: 10%;
    height: 0;
    padding-top: 10%;
    float: left;
    /*will-change: all;*/
  }
  /* line 89, ../sass/style.scss */
  .gallery .pic:nth-child(21n+3), .gallery .pic:nth-child(21n+7), .gallery .pic:nth-child(21n+18) {
    width: 19.9%;
    padding-top: 19.9%;
  }
  /* line 93, ../sass/style.scss */
  .gallery .pic:nth-child(21n+10), .gallery .pic:nth-child(21n+12), .gallery .pic:nth-child(21n+16), .gallery .pic:nth-child(21n+18) {
    margin-top: -10%;
  }
}
@media (max-width: 767px) {
  /* line 98, ../sass/style.scss */
  .gallery .pic {
    position: relative;
    width: 25%;
    height: 0;
    padding-top: 25%;
    float: left;
  }
  /* line 105, ../sass/style.scss */
  .gallery .pic:nth-child(12n+5) {
    width: 75%;
    padding-top: 75%;
  }
  /* line 109, ../sass/style.scss */
  .gallery .pic:nth-child(12n+9) {
    width: 75%;
    padding-top: 75%;
    float: right;
  }
}
